@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet CSS */
.leaflet-container {
  width: 100%;
  height: 400px;
}

/* Smooth theming transition */
html[data-theme='lighttheme'], html[data-theme='darktheme'] {
  transition: background-color 0.3s ease, color 0.3s ease;
}
